/* HTML elements*/
body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: 900;
    size: 5rem;
    line-height: 1.5;
}

h2 {
    font-weight: bold;
    size: 4rem;
}

/* Common Classes */
.container-fluid {
    padding: 7% 15%;
}

.white-section {
    background-color: #fff;
}

.colored-section {
    background-color: #ff4c68;
    color: #fff;
}

/* Download buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* SECTIONS */

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem 0;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-weight: 300;
    font-size: 1.2rem;
}

/* Title */

.sizing-div {
    padding-left: 10%;
    position: relative;
}

.title-image {
    width: 60%;
    transform: rotate(30deg);
    position: absolute;
}

/* Features */
#features {
    position: relative;
    z-index: 1;
}

.features {
    text-align: center;
    padding: 5%;
}

.features-hdr {
    font-weight: bold;
    font-size: 1.5rem;
}

.features-icon {
    color: #ef8172;
    margin: 1rem 40%;
}

.features-icon:hover {
    color: #ff4c68;
}

.features-text {
    font-weight: 300;
    color: #8f8f8f;
}

/* Testimonials */
#testimonials {
    text-align: center;
}

.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 1rem;
}

/* Press */
#press {
    text-align: center;
    padding: 5% 0 3%;
}

.press-logo {
    width: 15%;
    margin: 1rem 1rem 1.5rem;
}

/* Pricing */
#pricing {
    text-align: center;
    padding: 6em;  /* video uses 100px, and she sites that sometimes its ok to use pixel padding for different devices */
}

.pricing-column {
    padding: 3% 2%;
}

/* Call-to-Action (CTA) */
#cta {
    text-align: center;
}

.cta-hdr {
    margin: 0 15%;
}

/* footer */
#footer {
    text-align: center;
    padding: 6% 5% 2%;
}

.footer-icon {
    margin: 1em 1em;
}

/* CSS Media Selectors */
@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    .title-image {
        position: static;
    }
}